.home {
    border: 1px solid #26bee4; 
    width: fit-content;
    padding-inline: 40px;
    padding-block: 10px;
    margin: 0 auto;
    text-align: center;
    border-radius: 7px;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(107, 171, 228, 0.613);
    
}

.trivia {
    font-family: 'Arial';
    font-size: 40px;
    font-weight:900;
    color: #0790b7;
    text-shadow: 0px 2px 4px rgba(57, 165, 215, 0.5);
}

.pregunta {
    color: #0790b7;

}

.app-background {
background-image: url('src/imagenes/fondotrivia-01.webp');
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 

}